.page {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page__header {
    padding: 0 calc((100vw - 1024px) / 2);
}

.page__main {
    flex-grow: 1;
    width: 1024px;
    margin: 0 auto;
}

.page__footer {
    padding: 0 calc((100vw - 1024px) / 2);
}